pip==24.3.1
streamlit
playwright
nest_asyncio
pypdf2
python-docx
spacy==3.5.2
thinc
numpy
cython
pt-core-news-lg @ https://github.com/explosion/spacy-models/releases/download/pt_core_news_lg-3.5.0/pt_core_news_lg-3.5.0.tar.gz
